        # Ignore node_modules directory
        node_modules 2/

        # Ignore log files
        logs/
        *.log

        # Ignore sensitive environment variables
        .env

        # Ignore build artifacts
        build/
        dist/

        # Ignore the Dockerfile itself (optional, as it's typically not needed in the image)
        Dockerfile